<?xml version="1.0"?>
<launch>

    <arg name="id" default="1" />
    <arg name="pos_type" default="local" />
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="output" default="log" />

    <!-- ROI services -->
    <node pkg="area_provider" type="roi_services" name="rois_$(arg id)" output="$(arg output)" required="true">
        <param name="pos_type" value="$(arg pos_type)" />
        <param name="x" value="$(arg x)" />
        <param name="y" value="$(arg y)" />
        <rosparam file="$(find area_provider)/param/area.yaml" command="load" />
        <rosparam file="$(find area_provider)/param/roi.yaml" command="load" />
    </node>

</launch>
